{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    {# <h1 class="bg-midnight py-5 font-2xl text-center font-bold text-[#FFFFFF]">Movies</h1> #}
    <img src="https://wallpapercave.com/wp/wp11201643.jpg" alt="">
    {# {% for movie in movies %}
        <li>{{movie}}</li>
    {% endfor %} #}
        {# {{_self}}
        {{_charset}}
        {{author}} #}
{% endblock %}
{# {% if title %}
    <h1>{{title}} is a movie</h1>
{% else %}
    <p>oops, no title has been set.</p>
{% endif %} #}
    
